* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  height: 100vh;
  width: 100%;
  background: #1f2041;
}

nav {
  background: #ff9f1c;
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

#dino {
  margin-left: 5px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
}

.admin {
  margin-right: 20px;
  color: #1f2041;
}

footer {
  background: #ff9f1c;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mainContainerGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 560px;
  background: red;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
