* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  height: 100vh;
  width: 100%;
  background: #1f2041;
}

nav {
  background: #ff9f1c;
  max-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.home__icon,
.subscribe__icon {
  padding: 0 20px;
}

.home__icon {
  border-left: 1px solid #285943;
}
.home__icon a {
  text-decoration: none;
  color: #285943;
}

.subscribe__icon a {
  text-decoration: none;
  color: #285943;
  font-size: 2vh;
}
.nav__links {
  display: flex;
  align-items: center;
}

#dino {
  margin-left: 5px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
}

.admin {
  margin-right: 20px;
}
.adminlink {
  text-decoration: none;
  color: #1f2041;
}

footer {
  background: #ff9f1c;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mainContainerGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  height: 600px;
}

.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}
#left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
}
#welcome {
  margin: auto;
  font-size: 2vh;
  text-align: center;
  background-color: #285943;
  padding: 25px;
  box-shadow: 2px 2px 2px black;
  color: #ff9f1c;
  width: 60%;
  border-radius: 3px;
}

#sub {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-size: 2vh;
  text-align: center;
  background-color: #ebebd3;
  padding: 25px;
  box-shadow: 2px 2px 2px black;
  color: #1f2041;
}
#sub_text {
  padding-bottom: 20px;
}
#sub_button a {
  text-decoration: none;
  color: #ff9f1c;
  background-color: #285943;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

#right {
  background-image: url("./dino_land_img.png");
  width: 80%;
  height: 80%;
  background-position: center;
  background-size: cover;
  box-shadow: 3px 3px 3px black;
}
