.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.submitForm {
  border: 5px solid black;
  max-width: 425px;
  max-height: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ff9f1c;
}

.formInput {
  margin: 18px;
}

.inputLabel {
  font-size: 25px;
  font-family: sans-serif;
}

.inputBox {
  height: 22px;
  width: 160px;
  font-size: 18px;
  margin-bottom: 3px;
}

.submit {
  background-color: #285943;
  border: none;
  color: #ff9f1c;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: sans-serif;
}
